<div class="row">
    <div style="width: 32px; margin-left: 10px; marging-top: 5px">
        <div>
            <%= upvote_link %>
        </div>
        <div>
            <%= downvote_link %>
        </div>
    </div>
    <div class="col-md-10">
        <div style=" padding-left: <%= 5*depth %>px; padding-bottom: 10px; ">
            <div >
                <span class="comment-username">
                    <%= username %>
                </span>
                <span class="comment-points">
                    <%= "#{points} points"%>
                </span>
                <span class="comment-time-from">
                    <%= time_ago_in_words created_at %>
                </span>
            </div>
            <div id="comment-<%= id %>">
                <%= content %>
                <%= reply_link %>
            </div>
            <% if children&.any? %>
                <% children.each do |child| %>
                    <div style="border-left: 1px solid gray; margin-top: 10px">
                        <%= cell(CommentCell, child) %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
