<div class="card post-card">
    <div class="post-card-inner-container g-0">
            <div class="post-vote">
                <div>
                    <%= upvote_link %>
                </div>
                <div>
                    <%= downvote_link %>
                </div>
            </div>
        <div>
            <div class="card-body">
                <%= link_to post.title, post_path(post), class: 'link-primary'%>
                <div class="submitted">
                    <span>
                        Submitted 
                        <%= time_ago_in_words post.created_at%>
                        ago by
                        <%= post.user.username.presence || "[Deleted]" %>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>