<div class='new-post-container'>
  <div> 
    <h3>NEW POST</h3>
  </div>

  <%= form_with model: @post, url:post_create_path do |form| %>
    <div class="field"> 
      <%= form.label 'Title' %>
      <%= form.text_field  :title%>
    </div>
    <div class="field">
      <%= form.rich_text_area :content %>
    </div>
    <div class="new-post-footer">
      <%= 
        button_tag(type: 'button', class: 'btn btn-secondary') do
          link_to "Cancel", post_index_path, :method => :get
        end
      %>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  <% end %>
</div>
