
<div class="post-content-container">
    <h3>
        <%= @post.title%>
    </h3>
    <%= @post.content %>
</div>
<div class="add-comment" id="comment-<%= @root_comment.id %>">
    <%= link_to 'Add comment', 
                {controller: "comments", action: "new", parent_id: @root_comment}, 
                remote: true,
                :onclick => 'disableLink(this)' 
        %>
</div>
<% @serialized_comments.each do |comment| %>
    <div class="card comment-outer-container" >
        <div class="card-body">
            <%= cell(CommentCell, comment) %>
        </div>
    </div>
<% end %>
